<a href="https://colab.research.google.com/github/neilsubick/data_analytics/blob/main/Unit3_NumPy_Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Unit 3 - Advanced Python - NumPy - Assingment #1

## 1. Environment Set up

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#Dataset from summer Olympic London, year 2012
np_olympic_country = np.array(['GBR','China','RUS','US','KOR','JPN','GER'])
np_olympic_country_Gold = np.array([29,38,24,46,13,7,11])
np_olympic_country_Silver = np.array([17,28,25,28,8,14,11])
np_olympic_country_Bronze = np.array([19,22,32,29,7,17,14])

## 2.	Find country with maximum gold

In [ ]:
df = pd.Series(data = np_olympic_country, index = np_olympic_country_Gold)
df
df.max()

'US'

## 3.	Find countries with more than 20 gold medals

In [ ]:
# df2 = np.array([[np_olympic_country],[np_olympic_country_Gold]])
value = np_olympic_country_Gold
df2 = df[value > 20]
df2

29      GBR
38    China
24      RUS
46       US
dtype: object